:root{  --Dyslexic-yellow :rgb(255, 254, 203);   --Dyslexic-Dyellow :#E9E5EC;   --Dyslexic-gray:#9E8AAB;   --warning-text:#9E8AAB;   --Dyslexic-blue:rgb(5, 86, 144);    --Dyslexic-Button:rgb(198, 198, 148);}
@import url('https://fonts.cdnfonts.com/css/open-dyslexic');
body{font-family: 'Open-Dyslexic', sans-serif;background-color:var(--Dyslexic-gray);    color: var(--Dyslexic-blue); }

nav { background-color:var(--Dyslexic-yellow); color:var(--Dyslexic-blue);     border: 2px solid var(--Dyslexic-blue); border-radius: 8px;    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);  margin: 10px 10px 10px 10px;} 
.links{  display:flex;   justify-content:space-evenly;    margin: 10px 10px 10px 10px; }
nav ul{ display: flex;   margin: 10px 10px 10px 10px;      justify-content: space-between;    align-items:center;}
nav li{ list-style:none;    padding: 5px 4px 0px 0px; }
nav li a{color: var(--Dyslexic-gery);   text-decoration: none;   font-weight:bold;   padding: 5px 4px 0px 0px; }
nav li button{color: var(--Dyslexic-gery); border: none; background-color: #fffecb;  text-decoration: none;   font-weight:bold;   padding: 5px 4px 0px 0px; }
nav li label{   color: var(--Dyslexic-gery);   text-decoration: none;   font-weight:bold;   padding: 5px 4px 0px 0px; }
nav h4{  font-size:1.5em; color: var(--Dyslexic-blue); text-align: center;  text-decoration: none;   font-weight:bold;  padding: 28px 0px 0px 0px;}
nav li a:hover{    color: var(--Dyslexic-gray);    text-decoration: none;}



.box {display: flex;flex-wrap: wrap;}
.box>* {flex: 1 1 auto;}

#icon{   width:90px;  height:80px;   margin-top:0px;}
#icon:hover{ opacity: 0.1; rotate:25deg; cursor: pointer;}

#containForm{ padding: 20px 50px 20px 50px; background-color:var(--Dyslexic-yellow);          margin: 5px 10px 10px 10px;    border: 2px solid var(--Dyslexic-blue);   border-radius: 8px;   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);   padding: 10px 50px 20px 50px;  
}
